.container{
    margin:0px auto;
    max-width: 700px;
    overflow: hidden;
    .divider{
      background: #fff;
      height:1px;
      &.divider-short{
        max-width: 40px;
      }
    }
    .player{
      background: #000;
      height: 258px;
      overflow: hidden;
      position: relative;
      width: 100%;
      >div,>video{
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0;
      }
      .cover{
        background-repeat: no-repeat;
        background-image: url('http://img.kaiyanapp.com/5bbdff1ebe422035f85b117c4aabf51c.jpeg?imageMogr2/quality/60/format/jpg');
        background-position: bottom;
        background-size: cover;
      }
      .play-button{
        background-color: rgba(0,0,0,.15);
        background-image: url(//static.kaiyanapp.com/eyepetizer-web/assets/images/detail/icon_play@2x.3b9f9ba5.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 60px 60px;
        cursor: pointer;
        -webkit-transition: background-color .5s;
        transition: background-color .5s;
        &:hover{
          background-color: rgba(0,0,0,.5);
        }
      }
      @media(min-width: 700px){
        height: calc(700px / 16 * 9);
      }
    }
   .video-info{
      position: relative;
      .meta-positioner{
        .video-meta{
          padding: 15px;
          padding-bottom: 4px;
          background: rgba(0,0,0,.2);
          h1{
            font-size: 20px;
            margin: 0;
            margin-bottom: 7px;
          }
          .divider{
            margin-bottom: 7px;
          }
          p{
            margin: 0;
            margin-bottom: 12px;
            &.desciption{
              margin-bottom: 11px;
              opacity: .85;
            }
          }
        }
      }
      .relate-video-list{
        background: rgba(0,0,0,.4);
        padding: 20px 15px 10px;
        .relate-video{
          margin-bottom: 20px;
          position: relative;
          .relate-cover{
            background-position: 50%;
            background-size: cover;
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding-top: 25%;
            width: 40%;
          }
          .meta{
            left: 40%;
            margin-left: 15px;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            color:#FFF;
            .title{
              font-size:13px;
              font-weight: 700;
              margin-bottom: 5px;
              +.category{
                font-size: 12px;
                opacity: .85;
              }
              @media(min-width:400px){
                font-size:14px;
                 +.category{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
      .reply-list-container{
        background: rgba(0,0,0,.4);
        .text-center{
          padding: 16px 0 10px;
        }
        .reply{
          font-size: 12px;
          padding-bottom: 15px;
          position: relative;
          .avatar{
            background-position: 50%;
            background-size: cover;
            border-radius: 50%;
            float: left;
            height: 36px;
            margin: 0 13px;
            width: 36px;
            +.entity{
              margin-left: 62px;
              p{
                margin:0px;
                &.username{
                  margin-bottom: 4px;
                }
                &.time{
                  margin-bottom: 4px;
                  opacity: .6;
                }
                &.text{
                  margin-bottom: 15px;
                  padding-right: 35px;
                }
              }
              +.like{
                position: absolute;
                text-align: right;
                top: 0;
                right: 16px;
                .like-count{
                  >img{
                    width: 15px;
                    height:15px;
                    margin-left: 3px;
                  }
                  +.like-count-hot{
                    font-family: Lobster,cursive;
                  }
                }
              }
            }
          }
        }
      }
      .tag-list-container{
        background: rgba(0,0,0,.4);
        .text-center{
          padding: 16px 0px;
        }
        .tag-list{
          padding: 0 37px 16px;
          text-align: center;
          .tag{
            background: rgba(255, 255, 255, 0.3);
            border-radius: 2px;
            display: inline-block;
            font-size: 12px;
            letter-spacing: 3px;
            line-height: 22px;
            margin: 4px;
            padding: 0 6px 0 9px;
          }
        }
      }
      .video-cover-blurred{
        background-position: 50%;
        background-size: 100% 100%;
        height: 100%;
        position: absolute;
        top: 0;
        -webkit-transform: rotate(180deg) scaleX(-1);
        transform: rotate(180deg) scaleX(-1);
        width: 100%;
        z-index: -10;
        background-image: url(http://img.kaiyanapp.com/3a3c7d91d928303382fced649951387e.jpeg?imageMogr2/quality/60/format/jpg);
      }
   }

  }
