.footer{
  background: rgba(0,0,0,.4);
  padding: 40px 0 60px;
  .qrcode{
    display: block;
    margin: 0 auto 20px;
    width: 80px;
  }
  .qr-tips{
    background: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
  }
  div{
    background-size: cover;
    display: block;
    margin: 0 auto 40px;
    &.bottom-logo{
      background-image: url(//static.kaiyanapp.com/eyepetizer-web/assets/images/detail/bottom_logo@3x.556cae6b.png);
      height: 94px;
      width: 90px;
    }
  }
}
