.welcome{
  text-align:center;
  margin-top:60px;
  &,& a{
    color: #fff;
  }
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  .app-logo {
    animation: app-logo-spin infinite 20s linear;
    height: 80px;
  }
}

@keyframes app-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
